<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058528358036-pjhe6trpthpa6mig5b5uuop7thgeputd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058528358036-pjhe6trpthpa6mig5b5uuop7thgeputd</string>
	<key>API_KEY</key>
	<string>AIzaSyAs6l4muILaeXv5WiEd5MH4QtPB6KmJrQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1058528358036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Takeyaup</string>
	<key>PROJECT_ID</key>
	<string>takeyaup-2432d</string>
	<key>STORAGE_BUCKET</key>
	<string>takeyaup-2432d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058528358036:ios:761448bb3f9ac2130b0e81</string>
</dict>
</plist>